<h1>修改商品</h1>
<%= simple_form_for [:admin,@product] do |f| %>
<%=f.input :title%>
<%=f.input :description%>
<%=f.input :quantity%>
<%=f.input :price%>
<% if @product.image.present? %>
  <%= image_tag(@product.image.thumb.url) %>
<% end %>
<%=f.input :image, as: :file%>
<%= f.submit "保存" %>
<% end %>
